.banner4-container{
    background-color: #f08219;
  background-image: linear-gradient(
      #584931cc,
      rgba(68, 55, 41, 0.8)
    ),
      url("../../../assets/images/about.jpg");
    background-position: center;
    background-size: cover;
    color: #ffffff;
}